In [113]:
import pandas as pd
pd.set_option('display.max_rows', 500)
from sklearn.preprocessing import OrdinalEncoder
from pathlib import Path

In [114]:
datafile_path = Path(r'.\datasets\fake_dataset_csv.csv')

In [115]:
df = pd.read_csv(datafile_path)

In [116]:
df.head()

,course_id,topic_id,topic_title,entry_id,Semester and Year,entry_message,entry_word_count,reply_id,reply_message,reply_word_count
0,9999999,1111111,Week 0: Introductions (Section Z),Ryan Bullock,Fall 2019,Type when in hand or question offer. Leonora C...,904,Kristopher Jones,Successful citizen discussion marriage candida...,175
1,9999999,1111111,Week 0: Introductions (Section Z),Andrew Roy,Fall 2019,Assume animal art south nature perform throw k...,385,Chad Young,That use mission recently resource. Dino Buzzati,733
2,9999999,1111111,Week 0: Introductions (Section Z),Tina Mckay,Spring 2020,Anyone role technology benefit list right thou...,519,Diana Young,Approach style him understand. Leonora Carrington,185
3,9999999,1111111,Week 0: Introductions (Section Z),Vicki Robertson,Fall 2022,Tv although service three kitchen while work p...,383,Debra Martin,Page city history involve painting. Leonora Ca...,264
4,9999999,1111111,Week 0: Introductions (Section Z),Joy Hernandez,Fall 2021,Simply mean local consumer financial discuss. ...,465,Scott Powell,Lead sport drop hour shoulder. Leonora Carrington,623

In [117]:
ord_enc = OrdinalEncoder()
df['entry_id'] = ord_enc.fit_transform(df[['entry_id']]).astype('int')
df['reply_id'] = ord_enc.fit_transform(df[['reply_id']]).astype('int')
df.head(10)

,course_id,topic_id,topic_title,entry_id,Semester and Year,entry_message,entry_word_count,reply_id,reply_message,reply_word_count
0,9999999,1111111,Week 0: Introductions (Section Z),82,Fall 2019,Type when in hand or question offer. Leonora C...,904,59,Successful citizen discussion marriage candida...,175
1,9999999,1111111,Week 0: Introductions (Section Z),6,Fall 2019,Assume animal art south nature perform throw k...,385,13,That use mission recently resource. Dino Buzzati,733
2,9999999,1111111,Week 0: Introductions (Section Z),95,Spring 2020,Anyone role technology benefit list right thou...,519,23,Approach style him understand. Leonora Carrington,185
3,9999999,1111111,Week 0: Introductions (Section Z),98,Fall 2022,Tv although service three kitchen while work p...,383,21,Page city history involve painting. Leonora Ca...,264
4,9999999,1111111,Week 0: Introductions (Section Z),46,Fall 2021,Simply mean local consumer financial discuss. ...,465,88,Lead sport drop hour shoulder. Leonora Carrington,623
5,9999999,1111111,Week 0: Introductions (Section Z),65,Spring 2022,Defense part red describe traditional enough a...,606,87,South order result report. William Sansom,663
6,9999999,1111111,Week 0: Introductions (Section Z),91,Fall 2022,Money book station yard across medical hundred...,920,86,Serious debate light city decide church. Steph...,471
7,9999999,1111111,Week 0: Introductions (Section Z),58,Fall 2020,Arm create bad foreign bill skill school one u...,170,61,Audience tonight evening mean. Stephen King,921
8,9999999,1111111,Week 0: Introductions (Section Z),52,Fall 2020,Least house special court space half trial bil...,607,93,Just produce beat phone not air. Jeff VanderMeer,126
9,9999999,1111111,Week 0: Introductions (Section Z),25,Spring 2021,Evening employee Mrs artist end billion space ...,665,49,Change various investment better well. Stephen...,698

In [120]:
from author_names import author_Names

def author_extraction(string):
    authorMentions = {}
    for author in author_Names:
        aliases = author_Names[author]
        for alias in aliases:
            if alias in string:
                authorMentions[author] = alias
    return authorMentions

df['extracted'] = df['entry_message'].apply(author_extraction)
df['extracted_from_replies'] = df['reply_message'].apply(author_extraction)
print(df.head())

   course_id  topic_id                        topic_title  entry_id  \
0    9999999   1111111  Week 0: Introductions (Section Z)        82
1    9999999   1111111  Week 0: Introductions (Section Z)         6
2    9999999   1111111  Week 0: Introductions (Section Z)        95
3    9999999   1111111  Week 0: Introductions (Section Z)        98
4    9999999   1111111  Week 0: Introductions (Section Z)        46

  Semester and Year                                      entry_message  \
0         Fall 2019  Type when in hand or question offer. Leonora C...
1         Fall 2019  Assume animal art south nature perform throw k...
2       Spring 2020  Anyone role technology benefit list right thou...
3         Fall 2022  Tv although service three kitchen while work p...
4         Fall 2021  Simply mean local consumer financial discuss. ...

   entry_word_count  reply_id  \
0               904        59
1               385        13
2               519        23
3               383        21
4               465        88

                                       reply_message  reply_word_count  \
0  Successful citizen discussion marriage candida...               175
1   That use mission recently resource. Dino Buzzati               733
2  Approach style him understand. Leonora Carrington               185
3  Page city history involve painting. Leonora Ca...               264
4  Lead sport drop hour shoulder. Leonora Carrington               623

                              extracted                extracted_from_replies
0                    {34: 'Carrington'}  {4: 'VanderMeer', 102: 'VanderMeer'}
1                                    {}                                    {}
2                          {91: 'King'}                    {34: 'Carrington'}
3                                    {}                    {34: 'Carrington'}
4  {4: 'VanderMeer', 102: 'VanderMeer'}                    {34: 'Carrington'}