In [78]:
import pandas as pd
pd.set_option('display.max_rows', 500)
from sklearn.preprocessing import OrdinalEncoder
from pathlib import Path

In [79]:
datafile_path = Path(r'.\datasets\fake_dataset_csv.csv')

In [80]:
df = pd.read_csv(datafile_path)

In [81]:
df.head()

,First Name,Last Name,Semester and Year,Text of the Post
0,Eric,Sandoval,Fall 2019,Church growth bill it country yard. Dino Buzzati
1,Alice,Mckinney,Spring 2020,Fine kitchen response choice name person left ...
2,Joyce,Pennington,Spring 2022,War specific unit goal fast see walk idea huma...
3,Dennis,Roberson,Spring 2021,Treatment top capital ask everyone several mov...
4,Douglas,Bishop,Spring 2020,Sing short dark generation better phone them s...

In [82]:
df['FullName'] = df[['First Name', 'Last Name']].apply(lambda x: ' '.join(x), axis=1)
df.head()

,First Name,Last Name,Semester and Year,Text of the Post,FullName
0,Eric,Sandoval,Fall 2019,Church growth bill it country yard. Dino Buzzati,Eric Sandoval
1,Alice,Mckinney,Spring 2020,Fine kitchen response choice name person left ...,Alice Mckinney
2,Joyce,Pennington,Spring 2022,War specific unit goal fast see walk idea huma...,Joyce Pennington
3,Dennis,Roberson,Spring 2021,Treatment top capital ask everyone several mov...,Dennis Roberson
4,Douglas,Bishop,Spring 2020,Sing short dark generation better phone them s...,Douglas Bishop

In [95]:
ord_enc = OrdinalEncoder()
df['ordinal_encoded'] = ord_enc.fit_transform(df[['FullName']])
df['ordinal_encoded'] = df['ordinal_encoded'].astype('int')
df.head(10)

,Semester and Year,Text of the Post,FullName,ordinal_encoded
0,Fall 2019,Church growth bill it country yard. Dino Buzzati,Eric Sandoval,30
1,Spring 2020,Fine kitchen response choice name person left ...,Alice Mckinney,2
2,Spring 2022,War specific unit goal fast see walk idea huma...,Joyce Pennington,45
3,Spring 2021,Treatment top capital ask everyone several mov...,Dennis Roberson,24
4,Spring 2020,Sing short dark generation better phone them s...,Douglas Bishop,26
5,Fall 2020,Check say light once generation story name wro...,Kimberly Cortez,55
6,Fall 2019,Somebody build feeling medical movie more too ...,Robert Stafford,88
7,Fall 2022,Building turn follow treat describe turn left ...,Catherine Nichols,15
8,Spring 2021,Answer head action people thought enjoy south....,Eugene Mason,32
9,Fall 2020,Wonder again short growth character board mate...,Kristina White,59